$primary: hsl(347, 59%, 51%);
$secondary: hsl(347, 74%, 60%);
$blue: hsl(207, 58%, 62%);
$black: hsl(220, 5%, 12%);
$dark: hsl(220, 5%, 20%);
$gray: hsl(220, 5%, 90%);
$light: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
