.contact-page {
   margin-bottom: 2em;

   .contat-body {
      @include grid();
      gap: 3em;
   }

   .contact-form-container {
      background-color: $light;
      padding: 2em;
      border-radius: $border-radius;

      .message {
         textarea#message {
            resize: none;
         }

         label {
            top: 1.3em;
         }

         textarea.input:focus ~ label,
         textarea.input:not(:placeholder-shown) ~ label {
            top: 0;
         }
      }

      .btn {
         @include flex();

         .send {
            font-size: 0.8em;
            margin-left: .5em;
         }
      }
   }
}
