.form-control {
   position: relative;

   & + .form-control {
      margin-top: 1em;
   }

   .input {
      width: 100%;
      padding: 0.4em 1em;
      border: 1px solid $dark;
      border-radius: $border-radius;
      color: $dark;
      background-color: inherit;
      outline: 0;
      transition: $transition;
      transition-duration: 0.1s;

      &:focus {
         outline: 3px solid $blue;
      }
   }

   label {
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      color: $dark;
      transition: $transition;
      transition-duration: 0.2s;
      cursor: text;
   }

   .input:focus ~ label,
   .input:not(:placeholder-shown) ~ label {
      top: 0;
      left: 0.5em;
      font-size: 12px;
      background-color: $light;
      padding: 0 0.4em;
   }
}
