.header {
   height: 70px;

   .container {
      @include flex();
      height: inherit;
   }

   .logo {
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;

      a {
         color: $primary;
      }
   }
}
