#login-page {
   .container {
      @include flex(column, center);
      min-height: 65vh;
   }

   .login-content {
      @include flex(column, center);
      background-color: $dark;
      max-width: 500px;
      padding: 2em;
      border-radius: $border-radius;
      box-shadow: $shadow;

      .main-title > * {
         color: $light;
         text-align: center;
      }

      form {
         width: 100%;

         a {
            color: $light;
            display: inline-block;
            margin-top: 1em;
         }

         .btn{
            width: 100%;
         }
      }
   }
}
