#login-page {
   // position: relative;

   .dialog {
      margin-bottom: 1em;

      p {
         color: $primary;
         margin-top: 0;
      }
   }

   .container {
      @include flex(column, center);
      min-height: 65vh;
   }

   .login-content {
      @include flex(column, center);
      background-color: $dark;
      max-width: 500px;
      padding: 2em;
      border-radius: $border-radius;
      box-shadow: $shadow;

      .main-title > * {
         color: $light;
         text-align: center;
      }

      form {
         width: 100%;

         .input {
            border-color: $gray;
         }

         label {
            color: $gray;
         }

         .input:focus ~ label,
         .input:not(:placeholder-shown) ~ label {
            background-color: $dark;
         }

         a {
            color: $light;
            display: inline-block;
            margin-top: 1em;
         }

         .btn {
            width: 100%;
         }
      }
   }
}
