.nav {
   background-color: $white;
   .nav-list {
      @include flex();
      gap: 3em;

      .login-btn {
         a {
            display: inline-block;
            background-color: $dark;
            padding: 0.2em 1em;
            border-radius: $border-radius;
            color: $white !important;

            &.active {
               background-color: $primary;
            }
         }
      }

      .cart-btn {
         position: relative;
         background-color: inherit;

         a {
            @include flex();
            font-size: 1.25rem;
         }

         .cart-amount {
            position: absolute;
            top: -50%;
            right: -50%;
            background-color: $primary;
            color: $white;
            line-height: 0.5;
            padding: 5px;
            border-radius: $border-radius;
            font-size: 10px;
         }
      }

      a {
         color: $black;

         &.active {
            color: $primary;
         }
      }
   }
}
