.notfound {
   min-height: 100vh;
   @include flex(column, center);
   h1 {
      font-size: 4rem;
      color: $primary;
   }

   a{
       display: inline-block;
       margin-top: 1em;
       color: $primary;
   }
}
