.product-list {
   position: relative;

   &:hover {
      .arrow {
         opacity: 1;
      }
   }

   .arrow {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
      padding: 0.5em 0.2em;
      background-color: $white;
      outline: 0;
      border: 1px solid $gray;
      cursor: pointer;
      display: grid;
      place-content: center;
      opacity: 0;
      transition: $transition;

      &.left {
         left: 0;
      }

      &.right {
         right: 0;
      }
   }
}

.product-list-item {
   margin: 0;
   padding: 0;

   .card img {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
   }
}

.latest-products {
   margin-top: 2em;

   .latest-products-card {
      @include grid($ai: start);
      gap: 2.5em;

      .card {
         margin: 0;
         box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);

         &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
         }
      }
   }
}
