.popular-products {
   .product-content {
      @include grid();
      gap: 2em;
   }

   .card {
      margin: 0;
   }

   .main-title {
      border-top: 1px solid $gray;
      padding-top: 4em;
   }
}
