.single-product {
   min-height: 80vh;

   .single-product-content {
      @include grid();
      gap: 3em;
   }

   .img-box {
      img {
         aspect-ratio: 1 / 1;
         object-fit: cover;
         height: 100%;
      }
   }

   .content {
      .product-name {
         text-transform: capitalize;
         margin-bottom: 1em;
      }

      .product-details {
         margin-top: 2em;
      }

      .price {
         color: $primary;
         font-weight: 600;
      }

      .info{
         margin-top: 1em;
         list-style-type: initial;
         margin-left: 1.5em;
      }

      .btn.add-to-cart {
         border: none;
         outline: none;
         @include flex();
         gap: .5em;
         
         span {
            @include flex();
            
         }
      }
   }
}
