@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer {
  padding-block: 4em;
}

.btn {
  display: inline-block;
  margin-top: 2em;
  padding: 0.3em 1.3em;
  text-transform: capitalize;
  background-color: #ec5113;
  color: white;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #1d1e20;
  -webkit-box-shadow: 5px 5px 0.5em -0.1em #ec5113;
          box-shadow: 5px 5px 0.5em -0.1em #ec5113;
}

.btn:active {
  background-color: #303236;
}

.title {
  font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-title {
  margin-bottom: 2em;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.nav .nav-list a {
  color: #1d1e20;
}

.nav .nav-list a.active {
  color: #ec5113;
}

.header {
  height: 70px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header .logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header .logo a {
  color: #ec5113;
}

.header .toggler {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.header .toggler span {
  display: inline-block;
  height: 3px;
  width: 20px;
  margin-block: 2px;
  -webkit-transform-origin: 20px;
          transform-origin: 20px;
  background-color: #1d1e20;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .header .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #1d1e20;
    z-index: 1000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .header .nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 2em;
    height: 100%;
    gap: 1em;
  }
  .header .nav-list li {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .header .nav-list a {
    width: 100%;
    color: white;
    padding: 0.5em;
  }
  .header .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3em 0 0.3em;
    z-index: 9999;
  }
  .header .toggler.active span {
    background-color: white;
  }
  .header .toggler.active span:nth-of-type(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .toggler.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .toggler.active span:nth-of-type(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.showcase {
  background-color: white;
  position: relative;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.showcase .arrow-btn {
  position: absolute;
  inset: 0;
  z-index: 30;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.showcase .arrow-btn.left {
  right: auto;
}

.showcase .arrow-btn.right {
  left: auto;
}

.showcase .slide-cover {
  position: relative;
}

.showcase .slide-cover::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

.showcase .slide {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.showcase .slide .slick-dots li button::before {
  content: "";
}

.showcase .slide .content {
  text-align: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .slide .content .title,
.showcase .slide .content .sub-title {
  color: white;
}

.showcase .slide .content .title {
  margin-bottom: 0.3em;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards;
          animation: anim 0.5s ease-in-out forwards;
}

.showcase .slide .content .sub-title {
  font-size: 1.125rem;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards 0.5s;
          animation: anim 0.5s ease-in-out forwards 0.5s;
}

.showcase .slide .content .btn {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards 1s;
          animation: anim 0.5s ease-in-out forwards 1s;
}

@-webkit-keyframes anim {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .showcase .arrow-btn {
    padding: 0.3em;
  }
  .showcase .content {
    padding: 3em;
  }
  .showcase .content .title {
    line-height: 1.5;
  }
}

.product-list-item .slick-dots li button::before {
  content: "";
}

.product-list-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1 / 1;
}

.single-product .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-flow: dense;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.single-product .img-box img {
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.single-product .content .product-name {
  text-transform: capitalize;
  margin-bottom: 1em;
}

.single-product .content .product-details {
  margin-top: 2em;
}

.single-product .content .price {
  color: #ec5113;
  font-weight: 600;
}

.single-product .content .btn.add-to-cart {
  border: none;
  outline: none;
}
/*# sourceMappingURL=style.css.map */