@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
  color: #303236;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer {
  padding-block: 4em;
}

.btn {
  display: inline-block;
  margin-top: 2em;
  padding: 0.3em 1em;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #cc3858;
  color: white;
  border-radius: 0.3em;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: #1d1e20;
  box-shadow: 5px 5px 0.5em -0.1em #cc3858;
  transform: translateY(-5px);
}
.btn:active {
  background-color: #303236;
}

.title {
  font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-title {
  margin-bottom: 2em;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  background-color: #f6f9f9;
  margin: 0 0.5em;
  border-radius: 0.3em;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.card:hover .img-box img {
  transform: scale(1.1);
}
.card .img-box {
  overflow: hidden;
}
.card .img-box img {
  transition: all 0.4s ease-in-out;
}
.card .content {
  padding: 1em;
}
.card .content p {
  margin: 0;
}
.card .content .title {
  font-size: 1.25rem;
}
.card .content .rate {
  font-size: 0.7em;
}
.card .content .price {
  font-weight: 600;
  color: #e44e6e;
  margin-top: 0.5em;
}
.card .content .price span {
  margin-right: 0.2em;
}

.nav {
  background-color: white;
}
.nav .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
.nav .nav-list .cart-btn {
  position: relative;
  background-color: inherit;
}
.nav .nav-list .cart-btn a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.nav .nav-list .cart-btn .cart-amount {
  position: absolute;
  top: -50%;
  right: -50%;
  background-color: #cc3858;
  color: white;
  line-height: 0.5;
  padding: 5px;
  border-radius: 0.3em;
  font-size: 10px;
}
.nav .nav-list a {
  color: #1d1e20;
}
.nav .nav-list a.active {
  color: #cc3858;
}

.header {
  height: 70px;
  box-shadow: 0 5px 5px -6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9999;
}
.header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.header .logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header .logo a {
  color: #cc3858;
}
.header .toggler {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}
.header .toggler span {
  display: inline-block;
  height: 3px;
  width: 20px;
  margin-block: 2px;
  transform-origin: 20px;
  background-color: #1d1e20;
  border-radius: 0.3em;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .header .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #1d1e20;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .header .nav.active {
    transform: translateX(0);
  }
  .header .nav-list {
    flex-direction: column !important;
    justify-content: center;
    align-items: start;
    padding-left: 2em;
    height: 100%;
    gap: 1em;
  }
  .header .nav-list li {
    width: 100%;
    display: grid;
  }
  .header .nav-list a {
    width: 100%;
    color: white;
    padding: 0.5em;
  }
  .header .toggler {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0 0.3em;
    z-index: 9999;
  }
  .header .toggler.active span {
    background-color: white;
  }
  .header .toggler.active span:nth-of-type(1) {
    transform: rotate(-45deg);
  }
  .header .toggler.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .toggler.active span:nth-of-type(3) {
    transform: rotate(45deg);
  }
}
.showcase {
  background-color: white;
  position: relative;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}
.showcase .arrow-btn {
  position: absolute;
  inset: 0;
  z-index: 30;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.showcase .arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.showcase .arrow-btn.left {
  right: auto;
}
.showcase .arrow-btn.right {
  left: auto;
}
.showcase .slide-cover {
  position: relative;
}
.showcase .slide-cover::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}
.showcase .slide {
  display: grid;
  place-content: center;
}
.showcase .slide .slick-dots li button::before {
  content: "";
}
.showcase .slide .content {
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.showcase .slide .content .title,
.showcase .slide .content .sub-title {
  color: white;
}
.showcase .slide .content .title {
  margin-bottom: 0.3em;
  opacity: 0;
  transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards;
          animation: anim 0.5s ease-in-out forwards;
}
.showcase .slide .content .sub-title {
  font-size: 1.125rem;
  opacity: 0;
  transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards 0.5s;
          animation: anim 0.5s ease-in-out forwards 0.5s;
}
.showcase .slide .content .btn {
  opacity: 0;
  transform: translateY(30px);
  -webkit-animation: anim 0.5s ease-in-out forwards 1s;
          animation: anim 0.5s ease-in-out forwards 1s;
}

@-webkit-keyframes anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .showcase .arrow-btn {
    padding: 0.3em;
  }
  .showcase .content {
    padding: 3em;
  }
  .showcase .content .title {
    line-height: 1.5;
  }
}
.product-list-item {
  margin: 0;
  padding: 0;
}
.product-list-item .card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.latest-products {
  margin-top: 2em;
}
.latest-products .latest-products-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: start;
  gap: 2.5em;
}
.latest-products .latest-products-card .card {
  margin: 0;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);
}
.latest-products .latest-products-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.exclosive {
  background: radial-gradient(#f6f9f9, #cfd0d3);
}
.exclosive .cxclosive-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: center;
}
.exclosive .cxclosive-content h4 {
  margin-bottom: 1.5em;
}
.exclosive .cxclosive-content .img-box {
  position: relative;
}
.exclosive .cxclosive-content .img-box img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.exclosive .cxclosive-content .content .btn {
  outline: none;
  border: none;
}

.testimonials-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
  margin-top: 2.5em;
}
.testimonials-content .content {
  background-color: #f6f9f9;
  padding: 2em;
  box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.3);
}
.testimonials-content .content strong, .testimonials-content .content h1 {
  text-transform: capitalize;
}

#footer {
  background-color: #1d1e20;
}
#footer p {
  color: #cfd0d3;
}

.products {
  padding-top: 0;
}
.products .banner {
  max-height: 30vh;
  height: 30vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.products .banner img {
  position: absolute;
  inset: 0;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: -1;
}
.products .banner .main-title {
  margin-bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  padding: 2em;
  z-index: 2;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.products .product-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
  margin-top: 3em;
  background-color: white;
}
.products .card {
  margin: 0;
}
.products .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}
.products .main-title {
  padding-top: 4em;
}

.single-product .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
.single-product .img-box img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.single-product .content .product-name {
  text-transform: capitalize;
  margin-bottom: 1em;
}
.single-product .content .product-details {
  margin-top: 2em;
}
.single-product .content .price {
  color: #cc3858;
  font-weight: 600;
}
.single-product .content .btn.add-to-cart {
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.single-product .content .btn.add-to-cart span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.cart {
  background-color: #f6f9f9;
}
.cart .header {
  background-color: white;
}

.cart-page {
  margin-top: 2em;
  margin-bottom: 2em;
}
.cart-page .cart-content {
  background-color: white;
  padding: 2em;
}
.cart-page .cart-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.cart-page .cart-main {
  display: grid;
  gap: 2em;
  grid-template-columns: 25% auto 10%;
  grid-auto-flow: dense;
  padding-block: 2em;
  border-top: 1px solid #cfd0d3;
}
.cart-page .cart-main:last-of-type {
  border-bottom: 1px solid #cfd0d3;
}
.cart-page .cart-main .img-box {
  order: -1;
  min-height: 15em;
  overflow: hidden;
  position: relative;
}
.cart-page .cart-main .img-box img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-page .cart-main .article-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.cart-page .cart-main .article-details p,
.cart-page .cart-main .article-details strong,
.cart-page .cart-main .article-details a,
.cart-page .cart-main .article-details input,
.cart-page .cart-main .article-details label,
.cart-page .cart-main .article-details button {
  color: #303236;
}
.cart-page .cart-main .article-details h2 {
  text-transform: capitalize;
}
.cart-page .cart-main .article-details strong {
  font-weight: 600;
  margin-right: 5px;
}
.cart-page .cart-main .article-details .article-details-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: auto;
  justify-self: end;
}
.cart-page .cart-main .article-details .article-details-footer button {
  outline: none;
  border: none;
  background-color: white;
  color: #303236;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.cart-page .cart-main .article-details .article-details-footer span {
  color: #cfd0d3;
}
.cart-page .cart-main .price-cover {
  margin-left: auto;
}
.cart-page .cart-main .price-cover p {
  margin-top: 0;
  font-weight: 600;
}
.cart-page .cart-footer {
  display: grid;
  padding-block: 0;
  padding-top: 1.5em;
  margin-left: auto;
  display: flex;
}
.cart-page .cart-footer p {
  margin-left: auto;
  margin-top: 0;
  line-height: 1;
  color: #303236;
  margin-right: 0.5em;
}
.cart-page .cart-footer h3 {
  font-weight: 600;
  line-height: 1;
}/*# sourceMappingURL=style.css.map */